@import url('https://fonts.googleapis.com/css2?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
body{
    
    display: flex;
    flex-direction: row;
}
.ladoA{
    background-color: #8A2BE2;
    
}
.infoadd{
    margin: 2rem;
}

.ladoB{
    background-color: #fff; 
}

footer{
    color:#fff
}


.btn{
    background: linear-gradient(to right,#5000ca, indigo);
    color: #fff;
    padding: 10px 30px;
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 2px;
}

header{
   display: flex;
   flex-direction: column;
   align-content: space-around;
    
    padding: 30px 20px 20px 30px; 
    color: #fff
     
}
header img{
    width: 200px;
    border-radius: 1rem;
    /* margin: 5rem; */
}
header  a{
    text-decoration: none;
    color: #fff;
}
header h2{
margin-top: 3rem;
padding: 2rem;
}
.contato{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}
aside{
    color: #fff;
}
aside section h2{
    color:#fff;
}
.title{
background: #5000CA;
background: linear-gradient(to top, #5000CA 0%, #4B0082 100%);
-webkit-background-clip: text;
background-clip: text;
-webkit-text-fill-color: transparent; 
font-size: 3rem;
font-weight: bold;
line-height: 1.1;
    }
 .qualificacoes ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

section{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    color: #fff;
}
section ul li{
    list-style-type: square;
    font-size: 18px;
    padding-top: 10px;
    color: #000;
}
section h2{
    color:blueviolet
}
section p{
    text-align: justify;
    width: 60rem;
    color: #000;
}

section ul{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
    text-align: justify;
} 

footer{
    background: linear-gradient(to right,#5000ca, indigo);
    
}
